@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.v-container {
  max-width: $containerWidth;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.v-row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex: 1 1 100%;
}

.v-col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.v-transition {
  transition: 0.2s ease;
}

.v-full-height {
  height: 100vh;
  max-height: -webkit-fill-available;
}

.v-scroll {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: lighten($sidebarBgColor, 20%);
    opacity: 0.5;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $sidebarBgColor;
    border-radius: 5px;
    transition: .2s ease;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: lighten($sidebarBgColor, 10%);
    cursor: pointer;
  }
}


.fade-enter-active, .fade-leave-active {
   transition: opacity 2s;
 }
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.transparent {
  opacity: 0;
}