@import "normalize";
@import "variables";
.v-container {
  max-width: $containerWidth;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.v-row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex: 1 1 100%;
}
.v-col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.v-transition {
  transition: 0.2s ease;
}
.v-screen-title {
  text-align: center;
}
.view-wrapper {
  height: 100%;
}